canvas
{
	position:relative;
	margin:0 auto;
	display:block;
	border:1px solid black;
}
.container
{
	width:100%;
}
#ie-image-holder
{
	position:absolute;
	top:500px;
	left:100px;
}
#dragtab
{
	width:30px;
	height:30px;
	margin-top:-30px;
	position:absolute;
	z-index:10;
	background:red;
}
#ie-new-layer-holder
{
	width:300px;
	height:100px;
	background:#ccc;
	z-index:10;
	position:absolute;
	top: 400px;
	left:200px;
	display:none;
}
#ie-scale-image-container
{
	width:300px;
	height:200px;
	background:#ccc;
	z-index:10;
	position:absolute;
	top: 400px;
	left:200px;
	display:none;
}
#drag-handle
{
	position:absolute;
	margin-top:-20px;
	height:20px;
	width:50px;
	background-color:red;
}
#ie-image-hider
{
	position:absolute;
	top:-1500px;
	left:-5000px;
	z-index:10;
}
#ie-controls-container
{
	position:absolute;
	top:20px;
	left:20px;
	height:700px;
	width:150px;
	border:solid 2px black;
	z-index:10;
}
#ie-file-input
{
	position:absolute;
	bottom:150px; 
	left:50px;
	background-color:#ccc;
	display:none;
}
#ie-resize-spec-form
{ 
	display:none;
	position:absolute;
	background:#ccc;
	padding:10px;		
}
.ie-control
{
	width:150px;
	border-bottom:solid black 1px;
	height:98px;
	display:block;
}
#ie-shapes-container
{
	width:200px;
	border:1px solid blue;
	position:fixed;
	top:10px;
	right:20px;
}
#ie-tracker-selected
{
	color:red;
	position:relative;
	margin-left:10px;
	display:none;
}

.ie-shape-desc
{
	width:100px;
	height:100px;
	border:1px solid black;
	float:left;
	margin-left:5px;
}
#selector-canvas
{
	z-index:-1;
	/* higher z-index so as not to interact with the lower canvas1 element?? */
}
#ie-text-input
{
	position:absolute;
	bottom:120px;
	left:100px;
	background-color:#ccc;
	padding:5px;
	display:none;
}
#ie-resize-hider
{
	margin-top:-1000px;
	position:absolute;
}
#ie-layer-color
{
	width:100%;
}
#ie-layer-width
{
	width:100%;
}
#ie-layer-height
{
	width:100%;
}